@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@200;400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Encode Sans Condensed', sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
  }

// COMMON
.container {
    width: 60%;
    margin: 0 auto;
}